*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    height: 100vh;
    background: url(./img/background.jpg);
}

h1{
    text-align: center;
    font-family: 'Nosifer', cursive;
    color: rgb(143, 13, 13);
    background-color: #ded6d660;
    border-radius: 5%;
    letter-spacing: 6px;
    font-size: 50px;
    font-weight: 300;
    display: inline-block;
    margin: auto;
    margin-top: 15px;
    margin-left: 35%;
}

.score{
    display: inline-block;
    text-align: center;
    font-size: 20px;
    font-family: 'Nosifer', cursive;
    border: 1px solid black;
    background-color: white;
    margin-left: 38%;
    margin-top: 50px;
    padding: 8px;
    opacity: 1;
}

.playGame{
    margin-left: 10%;
    font-size: 30px;
    font-family: 'Nosifer', cursive;
    border: 1px solid black;
    background-color: white;
    padding: 10px;
    border-radius: 50%;
    background-color: rgba(241, 60, 60, 0.945);   
    transform: scale(1);
}
.playGame:hover{
    cursor: pointer;
    transform: scale(.85); 

}
img{
    width: 100%; 
}

.deck{
    
    top: 15%;
    left: 35%;
   width: 400px;
   height: 500px;
   display: flex;
   flex-wrap: wrap;
   margin: auto;
   margin-top: 40px;
   perspective: 1000px;

}
.Fadein{
    opacity: .7;
}

.card{
    width: 22%;
    height: 32%;
    position: relative;
    transform: scale(1);
    transform-style: preserve-3d;
    transition: transform .5s;
    margin: 5px;

}

.card:active{
    transform: scale(.5);
    transition: tranform .2s;
}

.card:hover{
    cursor: pointer;
    transform: scale(.85); 
}

.back, .front{
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 12px;
    /* background: #1C7CCC; */
    border: 1px solid rgb(24, 5, 109);
    backface-visibility: hidden;

}

.card.flip{
    transform:rotateY(180deg)
}
.front{
    transform: rotateY(180deg);
}


/* Congra*/

.overlay {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(0, 0, 0, 0.7);
	transition: opacity 500ms;
	visibility: hidden;
	opacity: 0;
}

.overlay:target {
	visibility: visible;
	opacity: 1;
}
  
.popup {
	margin: 80px auto;
	padding: 20px;
	background: #ffffff;
	border-radius: 5px;
	width: 50%;
	position: relative;
	transition: all 5s ease-in-out;
	font-family: 'Gloria Hallelujah', cursive;
}
  
.popup h2 {
	margin-top: 0;
	color: #333;
	font-family: Tahoma, Arial, sans-serif;
}

.popup .close {
	position: absolute;
	top: 20px;
	right: 30px;
	transition: all 200ms;
	font-size: 30px;
	font-weight: bold;
	text-decoration: none;
	color: #333;
}

.popup .close:hover {
	color: #E5F720;
}

.popup .content-1,
.content-2 {
	max-height: 30%;
	overflow: auto;
	text-align: center;
}

.show {
	visibility: visible !important;
	opacity: 100 !important;
}

#starRating li {
	display: inline-block;
}

#play-again {
	background-color: #141214;
	padding: 0.7rem 1rem;
	font-size: 1.1rem;
	display: block;
	margin: 0 auto;
	width: 50%;
	font-family: 'Gloria Hallelujah', cursive;
	color: #ffffff;
	border-radius: 5px;
}

@media only screen and  (max-width:768px) {

    .container{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    h1{
        width: auto;
        font-size: 30px;
        margin: 1vh auto;
    }

    .score{
        width: 50vw;
        margin:1vh auto;
        border-radius: 5px;
    }

    .playGame{
    margin: 1vh auto;
    font-size: 15px;
    width: 25vh;
    }

    .deck{
        top: 5%;
        left: 10%;
       width: 70vw;
       height: 60vh;
       margin: 0 auto;
    
    }
    .card{
        width: 20%;
        height: 30%;
    }

    
    .overlay {
        top: 20%;
        font-size: 10px;
    
    }


    .popup h2 {
        width: 85%;
        text-align: center;
    }
    
    .popup .close {
        top: -8px;
        right: 2px;
  
    }

    #play-again {
	font-size: .7rem;
}

}